apps/frontend/config/app.yml
lib/vendor/*
!/lib/vendor/README
cache/*
!cache/dummy.txt
log/*
!log/dummy.txt
web/images/edt/*
!web/images/edt/dummy.txt
config/databases.yml
apps/frontend/templates/_adsense_*
web/google*.html
web/BingSiteAuth.xml
data/fixtures/*
