# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/11-App

# default values
#all:
all:
  .settings:
    # Email de contact utilisé par PINADE pour prévenir d'un probleme
    email_from:  admin@example.org
    email_to: ['admin@example.net', 'informatique@example.net']

    ade_display_mode: '1057855'
    ade_display_conf_id: '8'

    # Active le préchargement de l'image de l'edt avec une image en background
    enable_preload:  true

    ade_cookiefile: %SF_APP_CACHE_DIR%/cookies.txt

    # Timestamp utilisé pour calculer le numéro de semaine PINADE<->ADE
    # Doit être celui de minuit du premier jour de l'edt sur ADE
    ade_default_start_timestamp: '1313359200'

    css:
      flat: { title: "Flat" }
      theo: { title: "Théo" }
      # antoine: { title: "Clear style" }

    piwik_url: 'piwik.example.net'
    piwik_code: '42'
