# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/11-App

# default values
#all:
all:
  .settings:
    # ADE URL *with* a "/" at the end. Ex (UHA) : 'https://www.emploisdutemps.uha.fr/ade/'
    ade_url: 'https://www.emploisdutemps.uha.fr/ade/'

    # cas_login est de la forme : base64_encode("username=prenom.nom%40uha.fr&password=YOURPASSWORD")
    cas_login: 'dXNlcm5hbWU9cHJlbm9tLm5vbSU0MHVoYS5mciZwYXNzd29yZD1ZT1VSUEFTU1dPUkQ='

    # Email de contact utilisé par PINADE pour prévenir d'un probleme
    email_from:  admin@example.org
    email_to: ['admin@example.net', 'informatique@example.net']


    ade_identifier:  'e2ba267923eb2fe57325ca75fd7b03ef'

    # Still used by cron/identifier
    ade_project_id:  '21'

    ade_display_mode: '1057855'
    ade_display_conf_id: '8'

    ade_cookiefile: %SF_APP_CACHE_DIR%/cookies.txt

    # Timestamp utilisé pour calculer le numéro de semaine PINADE<->ADE
    # Doit être celui de minuit du premier jour de l'edt sur ADE
    ade_default_start_timestamp: '1313359200'

    css:
      flat: { title: "Flat" }
      theo: { title: "Théo" }
      # antoine: { title: "Clear style" }

    piwik_url: 'piwik.example.net'
    piwik_code: '42'