all:
  .settings:
    
    # ADE URL *with* a "/" at the end. Ex (UHA) : 'https://www.emploisdutemps.uha.fr/ade/'
    ade_url: 'https://www.emploisdutemps.uha.fr/ade/'
    
    # cas_login est de la forme : base64_encode("username=prenom.nom%40uha.fr&password=YOURPASSWORD")
    #cas_login: 'Mettre ici le hash'
    
    ade_identifier:  '0682e640e1751d9e8bc3e858ba1493ea'

    ade_cookiefile: %SF_APP_CACHE_DIR%/cookies.txt

    ade_project_id: '19'

    branches_to_id: [ 199, 190, 16 ]

    filieres:
      info:
        nom : 'Informatique'
        promotions:
          1a:
            nom: 1A
            trees:      '271,177,178,179,180,181,182,183,184'
            branchId:   [199, 203, 159, 165 ]
            selectBranchId: [175, 151]
          2a:
            nom:        2A
            trees:      '192,237,238,20,21,22,24,31,136,244,247,137,138,139,141,142'
            branchId:   [199, 203, 115, 17, 110 ]
            selectBranchId: [91, 132]
            selectId: []
          3a:
            nom:        3A
            trees:      '147,148,149,113,116,117,118'
            branchId:   [199, 203, 143, 145 ]
            selectBranchId: [ 146 ]
            selectId: []
          mr:
            nom: MR
            trees: '573,580,581,560,575,582,584,583,570'
            branchId:   [199 ]
            selectBranchId: [ 207 ]
            selectId: []
      auto:
        nom: 'Automatique'
        promotions:
          1a:
            nom: 1A
            trees: '271,204,186,187,131,130,129,128,127'
            branchId:   [199, 203, 159, 151, 165 ]
            selectBranchId: [ 121 ]
            selectId: [ 271 ]
          2a:
            nom: 2A
            trees: '215,240,242,119,122,123,124,126,111,249,250,112,114,120,133,134'
            branchId:   [199, 203, 115, 17, 110 ]
            selectBranchId: [ 103, 135 ]
            selectId: []
          3a:
            nom: 3A
            trees: '144,113,116,117,118'
            branchId:   [199, 203, 143 ]
            selectBranchId: [ 145 ]
            selectId: []
      text:
        nom: 'Textile'
        promotions:
          1a:
            nom: 1A
            trees: '369,371,373,374,375,376,377'
            branchId:   [275, 278 ]
            selectBranchId: [ 282 ]
            selectId: []
          2a:
            nom: 2A
            trees: '393,394,395,397,399,390'
            branchId:   [275, 283 ]
            selectBranchId: [ 285 ]
            selectId: []
          3a:
            nom: 3A
            trees: '401,402,400,403'
            branchId:   [275, 286 ]
            selectBranchId: [ 288 ]
            selectId: []
      meca:
        nom: 'Mécanique'
        promotions:
          1a:
            nom: 1A
            trees: '305,306,307,308,309,310,311,304'
            branchId:   [275, 278 ]
            selectBranchId: [ 279 ]
            selectId: []
          2a:
            nom: 2A
            trees: '382,383,385,386,387,388,389,384'
            branchId:   [275, 283 ]
            selectBranchId: [ 284 ]
            selectId: []
          3a:
            nom: 3A
            trees: '406,407,409,410,411,404'
            branchId:   [275, 286 ]
            selectBranchId: [ 287 ]
            selectId: []
            
      prod:
        nom: 'Système de Production'
        promotions:
          1a:
            nom: 1A
            trees: '268,107,262,263,266,267'
            branchId:           [199, 190]
            selectBranchId:     [16]
            selectId:           [ ]
          2a:
            nom: 2A
            trees: '256,78,162,185,188,222,254'
            branchId:           [199, 190]
            selectBranchId:     [213 ]
            selectId:           [ ]
      lmme:
        nom: 'Licences/Masters Méca'
        promotions:
          l3:
            nom: L3
            trees: '312,504,505'
            branchId:   [275 ]
            selectBranchId: [ 292 ]
            selectId: []
          m1:
            nom: M1
            trees: '313,507,508'
            branchId:   [275]
            selectBranchId: [ 296 ]
            selectId: []
          m2:
            nom: M2
            trees: '314'
            branchId:   [275 ]
            selectBranchId: [ 297 ]
            selectId: []
          msf:
            nom: MSF
            trees: '412,413'
            branchId:   [275 ]
            selectBranchId: [ 294, 295 ]
            selectId: []
