Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

  # uncomment the following line, if you are having trouble
  # getting no_script_name to work
  #RewriteBase /

  # we skip all files with .something
  #RewriteCond %{REQUEST_URI} \..+$
  #RewriteCond %{REQUEST_URI} !\.html$
  #RewriteRule .* - [L]

  # Do NOT rewrite files when they exist
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule .* - [QSA,L]

#  RewriteCond %{HTTP_HOST}  ^pool.*
#  RewriteRule ^(.*)$ pool.php [QSA,L]

#  RewriteCond %{HTTP_HOST}       ^(ensisa|enscmu|lyon1-bio|lyon1-info|lyon1-iufm).*
#  RewriteRule ^(.*)              %{HTTP_HOST}$1          [C]
#  RewriteRule ^(ensisa|enscmu|lyon1-bio|lyon1-info|lyon1-iufm).*           $1.php [QSA,L]


  RewriteCond %{HTTP_HOST}              ^[-a-z0-9]+\.pinade\.org.*
  RewriteRule ^(.*)                     %{HTTP_HOST}$1  [C]
  RewriteRule ^([-a-z0-9]+)\.pinade.org.*  switch-pool.php          [QSA,L]

#  RewriteCond %{HTTP_HOST}  ^(lyon1-bio|ensisa).*
#  RewriteRule ^(.+)       %{HTTP_HOST}$1          [C]
#  RewriteRule ^(lyon1-bio|ensisa)\..* $1.php     [QSA,L]


  # we check if the .html version is here (caching)
  RewriteRule ^$ index.html [QSA]
  RewriteRule ^([^.]+)$ $1.html [QSA]
  RewriteCond %{REQUEST_FILENAME} !-f

  # no, so we redirect to our front web controller
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
